<!DOCTYPE html>
<html>

<body>

  <div id="app">
    <input v-model="newTodo">
    <button @click="addTodo">추가</button>

    <ul>
      <li v-for="todo in todos">{{ todo }}</li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp } = Vue;

    createApp({
      data() {
        return {
          newTodo: "",
          todos: []
        };
      },
      methods: {
        addTodo() {
          if (this.newTodo === "") return;
          this.todos.push(this.newTodo);
          this.newTodo = "";
        }
      }
    }).mount('#app');
  </script>

</body>

</html>